@import url(style/header.css);
@import url(style/banner.css);
@import url(style/carrossel.css);
@import url(style/topicos.css);
@import url(style/rodapé.css);
@import url(style/contato.css);



:root{
    --cor-de-fundo:#EBECEE;/*colocar todas as cores na aula 2*/
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: darkblue;
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --azul: #002f52;

}

body{
    background-color: var(--cor-de-fundo);
}

