.cabeçalho__menu-hamburguer{
   width: 24px;
   height: 24px;
   background-image: url(../img/Menu.svg);
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
}

.cabeçalho{
   background-color: var(--branco);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;    
}

.container{
   display: flex;
   align-items: center;
}

.container__imagem{
   padding: 1em;
}

.lista-menu{
   display: none;
   position: absolute;
   top: 100%;
   width: 60vw;
}

.container__botao:checked~.lista-menu{
   display: block;
}

.lista-menu__titulo,
.lista-menu__item{
   padding: 1em;
   background-color: var(--branco);
}


.lista-menu__link{
   background: var(--roxo-degrade);
   color: darkblue;     
   background-clip: text;
   text-decoration: none;
}

.lista-menu__titulo{
   color: var(--laranja);
   font-weight: 700;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer{
   background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked~.container__rotulo{
   background: var(--azul-degrade);
}

.container__botao{
   display: none;
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (min-width: 1024px) {
   .container__titulo,
    .container__titulo--negrito {
   font-family: var(--fonte-secundario);
   font-size: 30px;
   
    }
   
    .container__titulo {
   font-weight: 400;
   display: block;
   color: black;
   padding-right: 2em;
    }
   
    .container__titulo--negrito {
   font-weight: 700;
    }
   
    .opções {
   display: flex;
    }
   
    .opções__item {
   padding: 0 1em;
   color: black;
   
    }
   
    .opções__link {
   text-decoration: none;
   color: black;
    }
   
    .container__imagem-transparente {
   display: none;
    }
   
    .cabeçalho__menu-hamburguer {
   display: none;
    }
   
    .opções__botão:checked~.lista-menu {
   display: block;
   width: auto;
    }
   
    .opções__botão {
   display: none;
    }
   
    .opções__botão:checked~.opções__rotulo>.opções__item {
   background-color: rgb(65, 106, 240);
   color: rgb(0, 0, 0) ;
    }
   
    .opções__item {
   padding: 2em 1em;
    }
   
.lista-menu__item:hover {
   background-color: rgb(65, 106, 240) ;
    }
   
.lista-menu__item:hover>.lista-menu__link {
   color: black;
   text-decoration: none;
    }
   
   }


   /*adicionar essas duas classes que estão faltando*/
   .container__botao {
       display: none;
   }
   
   .container__texto {
       color: black;
         display: none;
   }
   

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (min-width: 1728px) {
 .container__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: yellow;
 }
   
 .cabeçalho {
  padding: 0 2em;
 }
   
 .opções {
  margin-right: auto;
 }
   
 .container__texto {
  display: block;
  color: black;
 }
   
 .container__titulo{
  display: flex;
 }
   }



